.click-btn {
    display: inline-block;
    padding: 10px 15px !important;
    background-color: rgb(37, 171, 223);
    border-radius: 6px;
    cursor: pointer;
    transition: ease-in-out 0.5s;
}

.click-btn:hover {
    background-color: grey;
}

